.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
    -fx-padding: 15px;
}
/*
.header-section {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: teal;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}*/